.logoText {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  line-height: 50px;
  padding-left: 20px;
  font-size: 22px;
  width: 120px;
  overflow: hidden;
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  color: transparent;
}

.logo {
  overflow: hidden;
  max-width: 150px;
}

.logoText:hover {
  color: #b2b0a9;
}

.logoText::after {
  content: '';
  position: absolute;
  height: 22px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.logoText:hover::after {
  transform: translate3d(100%, 0, 0);
}

.logoText::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

.logoText:hover::before {
  width: 100%;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
}

[nz-button] {
  margin-right: 8px;

}
